
.container-section {
    border: 1px solid #DEDEDE;
    border-radius: 0.5rem;
    margin: 1rem auto;
    padding: 0.80rem;
    width: 50%;
}

h2 {
    padding: 0.40rem 0rem;
}

h3 {
   color: grey;
}



@media screen and (max-width: 576px) {
    
    .container-section {
        width: auto;
        margin: 0.20rem 1rem;
    }

    h2 {
       font-size: 16px;
    }

    h3 {
        font-size: 16px;
    }     
  
}