
.container-footer {
    width: 100%;
    margin: 2rem 0rem;
}

.box1 {
    width: 50%;
}

.box-footer {
    padding: 15px 10px;
    display: inline-block;
}

.icons-social-media {
    width: 50%;
}

.icons-social-media a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border-radius: 30%;
    transition: all 0.2s ease-in;
    background-color: #171923;
    color: white;
    border: 2px solid #535bf2;
}

.icons-social-media {
    color: white;
    font-size: 1rem;
    transition: all 0.2s ease-in;
}

@media screen and (max-width: 576px) {
    
    .container-footer {
        width: auto;
    }

    .box1 {
        display: none;
    }

    .icons-social-media {
        width: auto;
    }
}

