* {
  margin: 0px;
  padding: 0px;
}


body {
  margin: 0rem;
  padding: 0rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background-color: #f5f8ff;
}


@media screen and (max-width: 576px) {

  body {
    margin: 0;
    padding: 0rem 1rem;
    width: 100%;
  }
}